<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my profile</title>
</head>
<body>
    <ul>
        <li>{{ user.login_status }}</li>
        <li><a href="{% url 'post_list' %}">My post</a></li>
        <li><a href="{% url 'user_list' %}">User list</a></li>
        <li><a href="{% url 'friends_post' user.id %}">Home</a></li>
        <li><a href="{% url 'create_post' user.id %}">create new post</a></li>
        <li><a href="{% url 'logout' %}">logout</a></li>
    </ul>
</body>
</html>
